

@import url('https: //fonts.googleapis.com/css?family=Advent Pro');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: ghostwhite;
}

.p-menubar .p-component{
  background-color: ghostwhite;
}

.p-menubar-root-list{
  margin-left: 1rem !important;
}

.p-inputtext {
  padding: 0px !important;
  padding-left: 10px !important;
}